.quate{
    position: absolute;
    bottom:8%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:15px;
    color:#fff;
    font-weight: 400;
    sub{
        font-size:10px;
        margin-left: 0.5em;
        font-weight: 300;
    }
}